OPENAI_API_KEY=sk-...
OPENAI_MODEL_SUMMARIZATION=gpt-4o-mini
OPENAI_MODEL_EVALUATOR=gpt-4o-mini
PROXY_URL=http://user:password@proxy.host:port

# Langfuse Cloud
LANGFUSE_HOST=https://cloud.langfuse.com
LANGFUSE_PUBLIC_KEY=pk-lf-...
LANGFUSE_SECRET_KEY=sk-lf-...
